<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="/static/styles.css" th:href="@{/styles.css}" rel="stylesheet" />
    <title>Add User</title>
</head>
<body>
<form method="post" th:action="@{/user}">
    <div class="form-group">
    <label>Username:
        <input type="text" id="username" th:value="${username}" name="username" class="form-control"><br>
    </label><br>
    <label>Enter your email address:
        <input type="email" id="email" th:value="${email}" name="email" class="form-control"><br>
    </label><br>
    <label>Enter a password:
        <input type="password" id="pass" th:value="${password}" name="password" minlength="6" required><br>
    </label><br>
        <label>Verify password:
        <input type="password" th:value="${verify}" name="verify"><br>
        </label><br>
    </div>
        <input type="submit" value="Create Profile" class="btn"><br>
</form>

</body>
</html>